.profile__add-button {
  all: unset;
  background: url('../../../images/add-button.svg') center no-repeat;
  border: 2px solid #FFF;
  border-radius: 2px;
  min-width: 150px;
  min-height: 50px;
  margin-left: auto;
  cursor: pointer;
}